body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}
h1 {
  font-size: 55px;
}
.orange {
  color: orange;
}

.flexible-container {
  display: flex;
  margin-bottom: 100px;
}

.half-width {
  width: 50%;
  padding: 3%;
}
.half-width img{
    width: 90%;
}
.hire-me-btn{
    text-decoration: none;
    padding: 10px 35px;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
    color:white;
    font-weight: 700;
}
.top-banner{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
.middle-banner{
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 150px;
}

.experience-item{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 11px 40px gray;
    padding: 20px;
}
.experience-area{
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: center;
}
#experience-border1{
    border-left: 7px solid;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
}
#experience-border2{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer p{
    text-align: center;
}
